<%= form_for(@gebruiker) do |f| %>
  <% if @gebruiker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gebruiker.errors.count, "error") %> prohibited this gebruiker from being saved:</h2>

      <ul>
      <% @gebruiker.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  
  <table>
  	<tr>
		<div class="field">
		<td>			
			<%= f.label :voornaam %>			
		</td>
		<td>
			<%= f.text_field :voornaam %>
		</td>
		</div>
	</tr>
	<tr>
	<div class="field">
		<td>
			<%= f.label :familienaam %>
		</td>
		<td>
			<%= f.text_field :familienaam %>
		</td>
	</div>
	</tr>
	<tr>
	<div class="field">
		<td>
			<%= f.label :email %>
		</td>
		<td>
			<%= f.text_field :email %>
		</td>
	</div>
	</tr>
	<tr>
	 <div class="field">
		<td>
			<%= f.label :wachtwoord %>
		</td>
		<td>
			<%= f.text_field :wachtwoord %>
		</td>
	 </div>
	</tr>
	<tr>
		<td>
		</td>
		<td align="right">
			 <div class="actions">
    			<%= f.submit %>
		     </div>
		</td>
	</tr>
  </table>   
<% end %>
