Welkom <strong><%=session[:user_id]%></strong>.
<%= link_to "logout",:controller => "gebruikers", :action => "logout" %>
<h1>Editing gebruiker</h1>

<%= render 'form' %>

<%= link_to 'Show', @gebruiker %> |
<%= link_to 'Back', gebruikers_path %>
