 Welkom <strong><%=session[:user_id]%></strong>.
<%= link_to "logout",:controller => "gebruikers", :action => "logout" %>
<p id="notice"><%= notice %></p>


<table>
	<tr>
		<td>
			<b>id</b>
		</td>
		<td>
			<%= @gebruiker.id %>
		</td>
	</tr>
	<tr>
		<td>
			<b>Voornaam:</b>
		</td>
		<td>
			<%= @gebruiker.voornaam %>
		</td>
	</tr>
	<tr>
		<td>
			<b>Familienaam:</b>
		</td>
		<td>
			<%= @gebruiker.familienaam %>
		</td>
	</tr>
	<tr>
		<td>
			<b>Email:</b>
		</td>
		<td>
			<%= @gebruiker.email %>
		</td>
	</tr>
	<tr>
		<td>
			<b>Wachtwoord:</b>
		</td>
		<td>
			<%= @gebruiker.wachtwoord %>
		</td>
	</tr>
</table>

<%= link_to 'Aanpassen', edit_gebruiker_path(@gebruiker) %> |
<%= link_to 'Ga terug', gebruikers_path %>
