<%= form_for(@studenten) do |f| %>
  <% if @studenten.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@studenten.errors.count, "error") %> prohibited this studenten from being saved:</h2>

      <ul>
      <% @studenten.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table>
  	<tr>
		<div class="field">
		<td><%= f.label :voornaam %></td>
		<td><%= f.text_field :voornaam %></td>
		</div>
	</tr>
	<tr>
		<div class="field">
		<td><%= f.label :familienaam %></td>
		<td><%= f.text_field :familienaam %></td>
		</div>
	</tr>
	<tr>
		<td></td>
		<td align="right">
			  <div class="actions">
    			<%= f.submit %>
			  </div>
		</td>
	</tr>
  </table>

<% end %>
