<%= form_for(@studenten) do |f| %>
  <% if @studenten.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@studenten.errors.count, "error") %> prohibited this studenten from being saved:</h2>

      <ul>
      <% @studenten.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :voornaam %><br />
    <%= f.text_field :voornaam %>
  </div>
  <div class="field">
    <%= f.label :familienaam %><br />
    <%= f.text_field :familienaam %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
