<h1>Listing studentens</h1>

<table>
  <tr>
    <th>Voornaam</th>
    <th>Familienaam</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @studentens.each do |studenten| %>
  <tr>
    <td><%= studenten.voornaam %></td>
    <td><%= studenten.familienaam %></td>
    <td><%= link_to 'Show', studenten %></td>
    <td><%= link_to 'Edit', edit_studenten_path(studenten) %></td>
    <td><%= link_to 'Destroy', studenten, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Studenten', new_studenten_path %>
