 <% if !session[:user_id] %>
U heeft niet de juiste bevoegdheid om deze pagina te bekijken
<% else %>
Welkom <strong><%=session[:user_id]%></strong>.
<%= link_to "logout",:controller => "gebruikers", :action => "logout" %>
<p id="notice"><%= notice %></p>
<table>
<tr>
	<td>  
		<b>id</b> 
	</td>
	<td>
		<%= @studenten.id %>		
	</td>
</tr>
<tr>
	<td>  
		<b>Voornaam:</b> 
	</td>
	<td>
		<%= @studenten.voornaam %>		
	</td>
</tr>
<tr>
	<td>
		<b>Familienaam:</b>
	</td>
	<td>
		<%= @studenten.familienaam %>
	</td>
</tr>
</table>

<%= link_to 'Aanpassen', edit_studenten_path(@studenten) %> |
<%= link_to 'Ga terug', studentens_path %>
<% end %>

