 <% if !session[:user_id] %>
U bent niet bevoegd om deze pagina te bekijken
<% else %>
Welkom <strong><%=session[:user_id]%></strong>.
<%= link_to "logout",:controller => "gebruikers", :action => "logout" %>
<p id="notice"><%= notice %></p>

<p>
  <b>Voornaam:</b>
  <%= @studenten.voornaam %>
</p>

<p>
  <b>Familienaam:</b>
  <%= @studenten.familienaam %>
</p>


<%= link_to 'Edit', edit_studenten_path(@studenten) %> |
<%= link_to 'Back', studentens_path %>
<% end %>

