<%= form_for(@labo) do |f| %>
  <% if @labo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@labo.errors.count, "error") %> prohibited this labo from being saved:</h2>

      <ul>
      <% @labo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <table>
  	<tr>
	<div class="field">
		<td>
			<%= f.label :naam %>
		</td>
		<td>
			<%= f.text_field :naam %>
		</td>
	</div>
	</tr>
	<tr>
	  <div class="field">
		<td>
			<%= f.label :docent_id %>
		</td>
		<td>
			<%= f.text_field :docent_id %>
		</td>
	   </div>
	</tr>
	<tr>
		<td></td>
		<td align="right">
			<div class="actions">
				<%= f.submit %>
			</div>
		</td>		
	</tr>
  </table>          
<% end %>
