<h1>Listing labos</h1>

<table>
  <tr>
    <th>Labo</th>
    <th>Student</th>
    <th>Aanwezig</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @labos.each do |labo| %>
  <tr>
    <td><%= labo.labo_id %></td>
    <td><%= labo.student_id %></td>
    <td><%= labo.aanwezig %></td>
    <td><%= link_to 'Show', labo %></td>
    <td><%= link_to 'Edit', edit_labo_path(labo) %></td>
    <td><%= link_to 'Destroy', labo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Labo', new_labo_path %>
