<%= form_for(@aanwezigheden) do |f| %>
  <% if @aanwezigheden.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@aanwezigheden.errors.count, "error") %> prohibited this aanwezigheden from being saved:</h2>

      <ul>
      <% @aanwezigheden.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table>
	<tr>
		<div class="field">
		<td>
			<%= f.label :labo_id %>
		</td>
		<td>
			<%= f.text_field :labo_id %>
		</td>
		</div>
	</tr>
	<tr>
		<div class="field">
		<td>
			<%= f.label :student_id %>
		</td>
		<td>
			<%= f.text_field :student_id %>
		</td>
		</div>
	</tr>
	<tr>
		<div class="field">
		<td>
			<%= f.label :aanwezig %>
		</td>
		<td>
			<%= f.text_field :aanwezig %>
		</td>
		 </div>
	</tr>
	<tr>
		<td>
		</td>
		<td align="right">
			 <div class="actions">
    			<%= f.submit %>
			  </div>
		</td>
	</tr>
</table>
<% end %>
